div{
    width: 280px;
    margin: auto;
    margin-top: 200px;
}
input{
    margin: 5px;
}
input, label{
    font-size: 20px;
}
button{
    margin-left: 35%;
    margin-top: 10%;
    width: 100px;
    
}